header img {
    height: 24px;
}

header {
    display: flex;
    justify-content: space-between;
    height: 57px;
    padding-left: 24px;
    padding-right: 24px;
    border-bottom: 1px solid #cccccc;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 100;
}

.left-header,
.middle-header {
    display: flex;
    align-items: center;
    gap: 24px;
}

.right-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hamburger-icon:hover,
.youtube-logo:hover,
.upload-icon:hover,
.youtube-app-icon:hover,
.notification-icon:hover,
.channel-picture:hover {
    cursor: pointer;
}

.youtube-logo {
    height: 20px;
}

.channel-picture {
    height: 32px;
    width: 32px;
}

.left-header {
    flex-shrink: 0;
}

.middle-header {
    width: 500px;
    flex-shrink: 1;
    gap: 0;
    padding-right: 20px;
    margin-left: 30px;
}

.search-bar {
    flex: 1;
    width: 0;
    height: 40px;
    border: 1px solid #cccccc;
    margin-left: 15px;
    box-shadow: inset 0px 1px 2px #eeeeee;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    padding-left: 12px;
    font-size: 16px;
    border-right: none;
}

input::placeholder {
    font-size: 16px;
    color: grey;
}

input:focus {
    outline: none;
    border: 1px solid blue;
}


.search-button {
    width: 65px;
    height: 40px;
    border: 1px solid #cccccc;
    background-color: #f7f7f7;
}

.search-button:hover,
.voice-search-button:hover {
    background-color: #eeeded;
    cursor: pointer;
}

.voice-search-button{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    margin-left: 8px;
    background-color: #f7f7f7;
}

.right-header {
    flex-shrink: 0;
    width: 182px;   
}

.notification-icon-container,
.youtube-app-container,
.upload-icon-container,
.search-button,
.voice-search-button {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}

.notification-icon-container .notification-number{
    position:absolute;
    top: -3px;
    right: -7px;
    width: 20px;
    height: 19px;
    font-size: 10px;
    background-color: rgb(204, 0, 0);
    color: white;
    border-radius: 15px;
    text-align: center;
    padding-top: 2px;
    border: 2px white solid;
}

.notification-icon-container .notification-number:hover {
    cursor: pointer;
}

.upload-icon-container .tool-tip,
.youtube-app-container .tool-tip,
.notification-icon-container .tool-tip {
    position: absolute;
    background-color: rgba(96, 96, 96, 0.9);
    color: white;
    padding: 8px;
    font-size: 12px;
    bottom: -46px;
    border-radius: 2px;
    z-index: 1000;
    visibility: hidden;
    white-space: nowrap;
}

.search-button .tool-tip,
.voice-search-button .tool-tip {
    position: absolute;
    background-color: rgba(96, 96, 96, 0.9);
    color: white;
    padding: 8px;
    font-size: 12px;
    /*had to create this new section of code because of difference in bottom*/
    bottom: -39px;
    border-radius: 2px;
    z-index: 1000;
    visibility: hidden;
    white-space: nowrap;
}




.search-button:hover .tool-tip,
.voice-search-button:hover .tool-tip,
.upload-icon-container:hover .tool-tip,
.youtube-app-container:hover .tool-tip,
.notification-icon-container:hover .tool-tip {
    visibility: visible;
}

@media (max-width: 500px) {
    .hamburger-icon {
        display: none;
    }

    .search-bar {
        display: none;
    }

    .voice-search-button {
        display: none;
    }

    .search-button {
        border-radius: 50px;
        width: 42px;
        padding-top: 2px;
        background-color: white;
    }

    .upload-icon-container {
        display: none;
    }

    .right-header {
        justify-content: flex-end;
        gap: 20px;
    }

    header {
      padding-right: 15px;
      padding-left: 15px;
    }

    .middle-header{
        margin-left: 20px;
    }
}