.video-tile {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.video-info {
    display: flex;
    gap: 12px;
}

.profile-photo {
    height: 36px;
    width: 36px;
    border-radius: 50px; 
}

.video-title {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    line-height: 20px;
}

.video-author,
.video-stats {
    font-size: 12px;
    color: rgb(97, 96, 96);
    margin-bottom: 4px;
}

.video-preview {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 38px;
    column-gap: 16px;
    padding-top: 24px;
    padding-left: 96px;
    padding-right: 24px;
    padding-bottom: 50px;
    background-color:   #f9f9f9;
}

.video-stamp {
    position: relative;
}

.time-stamp {
    background-color: black;
    color: white;
    font-size: 12px;
    font-weight: 500;
    width: 38px;
    padding: 4px;
    border-radius: 2px;
    text-align: center;
    position: absolute;
    top: 80%;
    right: 0;
    left: 85%;
    bottom: 8%;
    opacity: 0.9
}

@media (min-width: 952px) and (max-width:1190px) {
    .video-preview {
        grid-template-columns: 1fr 1fr 1fr;
    }   

    .time-stamp {
        bottom: 8%;
    }
}

@media (min-width: 751px) and (max-width:951px) {
    .video-preview {
        grid-template-columns: 1fr 1fr;
       
    }

    .time-stamp{
        top: 82%;
    }
}

@media (min-width: 652px) and (max-width: 750px) {     
    .video-preview {
        grid-template-columns: 1fr 1fr;
      
    }

    .time-stamp {
        top: 78%;
    }   
}

@media (min-width: 502px) and (max-width: 651px) {
    .video-preview {
        grid-template-columns: 1fr;
        
    }

    .time-stamp {
        top: 83%;
    }
}

@media (min-width: 0px) and (max-width: 501px) {
    .video-preview {
        grid-template-columns: 1fr;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        gap: 10px;
    }

    .time-stamp {
        top: 84%;
    }
}

@media (max-width: 388px) {
   

    .time-stamp {
        top: 81%;
    }
}

